/* Para esconder o elemento que estiver com a classe hidden */
.hidden {
  display: none;
}

/* Aplicando o plano de fundo em forma de gradiente com as cores rosa lilás e roxo */
body {
  background: linear-gradient(to right, #ffbae5, #cb6ce6, #5e17eb);
  font-family: "Roboto Slab", serif;
}

.imagesContainer {
  /* Espaçamento no topo de 80 pixels */
  margin-top: 120px;
  /* Define a largura do elemento para o máximo possível*/
  width: 100%;

  /* Muda o display do elemento para flex */
  display: flex;
  /* Define o espaçamento entre os filhos do elemento*/
  justify-content: space-between;
}

/* Define dimensões da logo da UFRN */
.logoUFRN {
  width: 200px;
  height: 75px;
}

/* Define dimensões da logo da ECT */
.logoECT {
  width: 200px;
  height: 100px;
}

/* Define dimensões do botão */
.botao {
  height: 40px;
  border: none;
  border-radius: 6px;
  margin: 0 auto;
  display: block;
  background-color: #ffffff;
  font-size: 25px;
  margin-top: 10px;
  cursor: pointer;
}

/* Muda o estilo do botão quando o mouse passa por cima */
.botao:hover {
  background-color: #bb99ff;
  color: #ffffff;
}

/* Define características do título */
.titulo {
  color: #ffffff;
  text-shadow: 2px 2px 0px #181b23;
  font-size: 45px;
  margin-top: 90px;
  font-weight: 400;
}

/* Define o tamanho do elemento e alinha o conteúdo ao centro */
.entrada {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

/* Define os estilos do parágrafo que está dentro da div .entrada*/
.entrada > p {
  font-size: 28px;
  margin-right: 20px;
}

/* Define os estilos do input que está dentro da div .entrada*/
.entrada > input {
  height: 35px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
}

/* Define os estilos do resultado final (p com a classe .resultado) */
.resultado {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}

/* Define os estilos do link para recarregar a página */
.voltar {
  color: #ffffff;
  text-shadow: 2px 2px 0px #181b23;
  font-size: 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: absolute;
  left: 40px;
  top: 60px;
  transition: all 0.3s;
  cursor: pointer;
}

/* Define os estilos da imagem que está dentro do link .voltar */
.voltar > img {
  width: 35px;
  height: 35px;
  -webkit-filter: drop-shadow(3px 3px 2px #181b23);
  filter: drop-shadow(3px 3px 2px #181b23);
}

/* Muda a posição do link quando o mouse passa por cima */
.voltar:hover{
  left: 70px;
}

/* Elemento principal */
main {
  /* Define o tamanho do elemento para 100% */
  height: 100%;
  width: 100%;

  /* Altera o display do elemento para flex */
  display: flex;

  /* Define a largura máxima */
  max-width: 1080px;

  /* Centraliza o elemento */
  margin: 0 auto;

  /* Altera o direcionamento do flex */
  flex-direction: column;

  /* Alinha os filhos do elemento ao centro */
  justify-content: center;
  align-items: center;

  /* Define a altura mínima */
  min-height: 100vh;
}
